on:
  pull_request:
    # Sequence of patterns matched against refs/heads
    branches:    
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 'Set up Cloud SDK'
        uses: google-github-actions/setup-gcloud@v0
      - name: 'Use gcloud CLI'
        run: 'gcloud info'
